 <%= render partial: "shared/head" %>  
            
    <h4>Edit a Service</h4>
    <p class="text-black-50 mb-0">
        <%= render partial: "form", locals: { service: @service } %>
    </p>

<%= render partial: "shared/foot" %>