 <%= render partial: "s_head" %> 
  
    <h4>Select a Service to View Appointment History</h4>
    <p class="text-black-50 mb-0">
    <% @services.each do |s| %>
        <%= link_to s.name, service_path(s) %><br>
     <% end %>
    <br><br>
  
    <% if current_concierge.admin %>
        <%= link_to "Add a Service", new_service_path %>
    <% end %>
    </p>
          
<%= render partial: "s_foot" %>