 <%= render partial: "s_head" %> 
            
    <h4>Add a Service</h4>
    <p class="text-black-50 mb-0">
        <%= render partial: "form", locals: { service: @service } %>
    </p>
          
<%= render partial: "s_foot" %>