 <%= render partial: "c_head" %>

  <h4>Edit a Client</h4>
  <p class="text-black-50 mb-0">
      <%= render partial: "form", locals: { client: @client } %>
      <br><Br>
      <%= link_to "Back to Client's History", client_appointments_path(@client) %>
  </p>
          
<%= render partial: "c_foot" %>