 <%= render partial: "c_head" %>
            
  <h4>Select a Client to View Appointments History</h4>
  <p class="text-black-50 mb-0">
      <% @clients.each do |c| %>
          <%= link_to c.name, client_path(c) %><br>
      <% end %>
  </p><br><br>
  <%= link_to "Add a Client", new_client_path %>
          
<%= render partial: "c_foot" %>