 <%= render partial: "c_head" %>
            
  <h4>Add a Client</h4>
  <p class="text-black-50 mb-0">
    <%= render partial: "form", locals: { client: @client } %>
  </p>
          
<%= render partial: "c_foot" %>