<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <div class="featured-text text-center text-lg-left">

          <h4>The Most Booked Stylist is <%= @most_booked %></h4>          

        </div>
      </div>
    </div>
  </div>
</section>