<% if !@stylist.nil? && @stylist.errors.any? %>
  <div id="error">
    <h5><%= @stylist.errors.count %> error(s) prohibited account creation:</h5>
 
    <ul><% @stylist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %></ul>
  </div>
<% end %>