 <%= render partial: "shared/head" %> 
            
    <h4>Edit a Stylist</h4>
    <p class="text-black-50 mb-0">
        <%= render partial: "form", locals: { stylist: @stylist } %>
        <br><Br>
        <%= link_to "Back to Stylist", stylist_appointments_path(@stylist) %>
    </p>


<%= render partial: "shared/foot" %>