 <%= render partial: "s_head" %> 
            
    <h4>Select a Stylist to View Appointments</h4>
    <p class="text-black-50 mb-0">
        <% @stylists.each do |s| %>
            <%= link_to s.name, stylist_appointments_path(s) %><br>
        <% end %>
    </p>

<%= render partial: "s_foot" %>

  












