 <%= render partial: "s_head" %> 
            
    <h4>Add a Stylist</h4>
    <p class="text-black-50 mb-0">
        <%= render partial: "form", locals: { stylist: @stylist } %>
    </p>

<%= render partial: "s_foot" %>