<h1>Add a Stylist</h1>

<%= render partial: "form", locals: { stylist: @stylist } %>

<br><Br>
<%= link_to "Appointment Index", appointments_path %> | <%= link_to 'Sign Out', signout_path, method: :post %>