 <%= render partial: "a_head" %>
            
  <h4>Edit Appointment</h4>
  <p class="text-black-50 mb-0">
    <%= render partial: "form", locals: { appointment: @appointment } %>
  </p>

<%= render partial: "a_foot" %>





