<h1>Create a New Appointment</h1>

<%= render partial: "form", locals: { appointment: @appointment } %>

<br><Br>
<%= link_to "Appointment Index", appointments_path %> | <%= link_to 'Sign Out', signout_path, method: :post %>