<%= render partial: "shared/head" %>

  <h4>Create a New Appointment</h4>
  <p class="text-black-50 mb-0">
    <%= render partial: "form", locals: { appointment: @appointment } %>
  </p>

<%= render partial: "shared/foot" %>