 <%= render partial: "c_head" %>

  <h4><%= @concierge.name %> Edit Profile</h4>
  <p class="text-black-50 mb-0">
    <%= render partial: "form", locals: { concierge: @concierge } %>
  </p>
 
<%= render partial: "c_foot" %>